<div>
  <h2 id="page-heading" data-cy="MemberRelationshipHeading">
    <span jhiTranslate="genealogyManagementSystemApp.memberRelationship.home.title">Member Relationships</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="genealogyManagementSystemApp.memberRelationship.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-member-relationship"
        [routerLink]="['/member-relationship/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="genealogyManagementSystemApp.memberRelationship.home.createLabel"> Create a new Member Relationship </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="memberRelationships?.length === 0">
    <span jhiTranslate="genealogyManagementSystemApp.memberRelationship.home.notFound">No Member Relationships found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="memberRelationships && memberRelationships.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="relationshipName">
            <div class="d-flex">
              <span jhiTranslate="genealogyManagementSystemApp.memberRelationship.relationshipName">Relationship Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fromMember.id">
            <div class="d-flex">
              <span jhiTranslate="genealogyManagementSystemApp.memberRelationship.fromMember">From Member</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="toMember.id">
            <div class="d-flex">
              <span jhiTranslate="genealogyManagementSystemApp.memberRelationship.toMember">To Member</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let memberRelationship of memberRelationships; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/member-relationship', memberRelationship.id, 'view']">{{ memberRelationship.id }}</a>
          </td>
          <td>{{ memberRelationship.relationshipName }}</td>
          <td>
            <div *ngIf="memberRelationship.fromMember">
              <a [routerLink]="['/family-member', memberRelationship.fromMember.id, 'view']">{{ memberRelationship.fromMember.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="memberRelationship.toMember">
              <a [routerLink]="['/family-member', memberRelationship.toMember.id, 'view']">{{ memberRelationship.toMember.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/member-relationship', memberRelationship.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/member-relationship', memberRelationship.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(memberRelationship)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
